# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.eggs/

# Ambiente
.env
.env.*
!.env.example

# Ferramentas/IDEs
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Flask
instance/
*.sqlite
*.db
